@model  ATT.Alexa.Office365.Models.User

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Alexa Office 365 Account Link.</title>
    <meta name="description" content="Alexa Office 365 Account Link.">
    <meta name="author" content="A Thousand Threads Ltd">

    @Styles.Render("~/Content/officefabric")

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    @using (Html.BeginForm("LinkUser", "Account", FormMethod.Post))
    {
        <span class="ms-font-xl">Please login with your Office 365 account.</span>
        <div id="configs" class="ms-Grid">
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg3">
                    <div class="ms-TextField">
                        <label class="ms-TextField ms-font-s-plus">
                            <span class="ms-Label">Username</span>
                        </label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "ms-TextField-field" })
                    </div>
                </div>
                <div class="ms-Grid-col ms-u-sm3 ms-u-md3 ms-u-lg3">
                    <div class="ms-TextField">
                        <label class="ms-TextField ms-font-s-plus">
                            <span class="ms-Label">Password</span>
                        </label>
                        @Html.PasswordFor(model => model.Password, new { @class = "ms-TextField-field" })
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-CommandButton">
            <button type="submit" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">Link my account</span>
            </button>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/officefabricjs")

</body>
</html>
